{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'bundles/app/css/signin.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-signin" action="{{ path('account_register') }}" method="post">
            <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('registration') }}"
            >
            <h2 class="form-signin-heading">Please Register</h2>

            {#<label for="username" class="sr-only">#}
                {#Username#}
            {#</label>#}
            <input type="text" id="username" class="form-control" placeholder="Username" name="_username" value="" required autofocus>

            {#<label for="password" class="sr-only">#}
                {#Password#}
            {#</label>#}
            <input type="password" id="password" class="form-control" placeholder="Password" required name="_password">
            <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password" required name="_confirm_password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
{% endblock %}